# Importing libraries

In [126]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Data loading

In [127]:
data = pd.read_csv('spam_ham.csv', names = ['status','message'],header=0 )

In [128]:
data.head()

  status                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [129]:
len(data)

5574

In [130]:
len(data[data.status=='spam'])

747

# Changing status of spam/ham as 0/1

In [131]:
data.loc[data["status"]=='ham', "status"]=1
data.loc[data["status"]=='spam', "status"]=0

In [132]:
data.head()

  status                                            message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

# Splitting the data into i/p and o/p

In [133]:
data_x = data["message"]
data_y = data["status"]

# splitting data into train and test

In [134]:
x_train,x_test,y_train,y_test = train_test_split(data_x,data_y,test_size = 0.2,random_state = 3)

# Converting messages into numbers

In [135]:
cv = CountVectorizer()

In [136]:
x_traincv = cv.fit_transform(x_train)
x_testcv = cv.transform(x_test)  #because we want our algo to find and match the features

In [137]:
y_train = y_train.astype('int') #converting output 0s and 1s into integer type
y_test = y_test.astype('int')

In [139]:
mnb = MultinomialNB()
LG = LogisticRegression()
LG.fit(x_traincv,y_train)
mnb.fit(x_traincv,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [122]:
pred = mnb.predict(x_testcv)

In [124]:
accuracy_score(y_test,pred)  #evaluation of accuracy score

0.9865470852017937